version: "3.9"
services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: so_user
      POSTGRES_PASSWORD: so_pass
      POSTGRES_DB: so_planner
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
